<!DOCTYPE html>
<html lang="en">

<head>
    <title>JIU-JITSU BOARD
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />
</head>

<body>
    <div class="header">
        <h1 class="header__title">JIU-JITSU BOARD</h1>
    </div>
    <div class="board">
        <div class="board__item">
            <div class="points">
                <h1>0</h1>
            </div>
            <div class="points points--advantages">
                <h1>0</h1>
            </div>
            <div class="points points--punishments">
                <h1>0</h1>
            </div>
        </div>

        <div class="board__item">
            <div class="points">
                <h1>0</h1>
            </div>
            <div class="points points--advantages">
                <h1>0</h1>
            </div>
            <div class="points points--punishments">
                <h1>0</h1>
            </div>
        </div>
    </div>

    <div class="timer">
        00:00
    </div>

</body>

</html>