<!DOCTYPE html>
<html lang="en">

<head>
    <title>JIU-JITSU BOARD
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />
</head>

<body>
    <div class="header">
        <h1 class="header__title">JIU-JITSU BOARD</h1>
    </div>
    <div class="board">
        <div class="board__block">
            <div class="board__block__points">
                0
            </div>
            <div class="board__block__points-description">
                PONTOS
            </div>
        </div>


        <div class="board__block">
            <div class="board__block__points">
                0
            </div>
            <div class="board__block__points-description">
                PONTOS
            </div>
        </div>
    </div>

</body>

</html>