.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title{
    font-size: 5em;
}

.board{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board__block{
    height: 100%;
    border: solid 1px;
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.board__block__points{
    flex: 1;
    font-size: 3em;
}

.board__block__points-description{
    flex: 3;
    font-size: 3em;
}